{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="{% static 'css/new.css' %}" type="text/css" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1 class="logo">Blog</h1>
        </header>

        <nav>
            <ul>
                <li><a href="{% url 'home' %}">BACK</a></li>
            </ul>
        </nav>

        <main>
            <div class="container">
                <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h4>Image: </h4>
                    <div class="filebox">
                        <label for="img">UPLOAD</label>
                        <input type="file" name="image" id="img">
                    </div>
                    <h4>Title: </h4>
                    <input type="text" name="title">
                    <h4>Singer: </h4>
                    <input type="text" name="musician">
                    <br>
                    <h4>Lyrics: </h4>
                    <textarea cols=40 rows=10 name="body"></textarea>
                    <br>
                    <br>
                    <input class="btn" type="submit" value="SUMBIT">
                </form>
            </div>
                
        </main>
        
    </body>

</html>
